{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
Все выставки
{% endblock title %}

{% block content %}

	<header class="header">
		<div class="header__container">
			<a href="#"><img class="header__logo" src="/static/images/icons/logo.svg" alt="logo"></a>
			<nav class="header__navigation header__navigation_desktop">
				<ul class="navigation__list">
					<li class="navigation__list__item"><a href="/templates/config/index.html" class="navigation__link">О выставке</a></li>
					<li class="navigation__list__item"><a href="/static/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
					<li class="navigation__list__item"><a href="/static/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
				</ul>
			</nav>

			<div class="header__navigation_mobile">
				<input id="toggle" type="checkbox"></input>

				<label for="toggle" class="hamburger">
					<div class="top-bun"></div>
					<div class="meat"></div>
					<div class="bottom-bun"></div>
				</label>

				<div class="navigation__container">
					<nav class="navigation__content">
						<ul class="navigation__list">
							<li class="navigation__list__item"><a href="" class="navigation__link">О выставке</a></li>
							<li class="navigation__list__item"><a href="/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
							<li class="navigation__list__item"><a href="/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
	</header>

	<main class="main">
		<div class="main__navbar">
			<a href="/templates/config/index.html">Главная</a>
		</div>

		<section class="cards">
			<h1 class="cards__title title">Все выставки</h1>
			<div class="cards__container"></div>
		</section>

	</main>
{% endblock content %}
