{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
Фото прошлой выставки
{% endblock title %}

{% block content %}

	<header class="header">
		<div class="header__container">
			<a href="#"><img class="header__logo" src="/static/images/icons/logo.svg" alt="logo"></a>
			<nav class="header__navigation header__navigation_desktop">
				<ul class="navigation__list">
					<li class="navigation__list__item"><a href="/templates/config/index.html" class="navigation__link">О выставке</a></li>
					<li class="navigation__list__item"><a href="/templates/config/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
					<li class="navigation__list__item"><a href="/templates/config/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
				</ul>
			</nav>

			<div class="header__navigation_mobile">
				<input id="toggle" type="checkbox"></input>

				<label for="toggle" class="hamburger">
					<div class="top-bun"></div>
					<div class="meat"></div>
					<div class="bottom-bun"></div>
				</label>

				<div class="navigation__container">
					<nav class="navigation__content">
						<ul class="navigation__list">
							<li class="navigation__list__item"><a href="" class="navigation__link">О выставке</a></li>
							<li class="navigation__list__item"><a href="/templates/config/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
							<li class="navigation__list__item"><a href="/templates/config/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
	</header>

	<main class="main">
		<div class="main__navbar">
			<a href="./all-exhibitions.html">Прошлые выставки</a>
		</div>

		<section class="photos">
			<h1 class="photos__title title">9-10 марта Выставка КЦ Зеленоград</h1>
			<div class="photos__container"></div>
		</section>

		<section class="exhibition-statistics">
			<div class="exhibition-statistics__container">
				<img class="exhibition-statistics__decor" src="/static/images/past-decor-cat.png" alt="">
				<div class="statistics__description">
					<h2 class="statistics__description__title">Благодаря вашей поддержке<br>новый дом нашли</h2>
					<div class="statistics__description__numbers">
						<div class="statistics__cats">
							<span class="cats__number">192</span>
							<span class="cats__title">кошки</span>
						</div>
						<div class="statistics__dogs">
							<span class="dogs__number">72</span>
							<span class="dogs__title">собаки</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock content %}