{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
Карточка участника
{% endblock title %}

{% block content %}

	<header class="header">
		<div class="header__container">
			<a href="#"><img class="header__logo" src="/static/images/icons/logo.svg" alt="logo"></a>
			<nav class="header__navigation header__navigation_desktop">
				<ul class="navigation__list">
					<li class="navigation__list__item"><a href="" class="navigation__link">О выставке</a></li>
					<li class="navigation__list__item"><a href="/templates/config/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
					<li class="navigation__list__item"><a href="/templates/config/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
				</ul>
			</nav>

			<div class="header__navigation_mobile">
				<input id="toggle" type="checkbox"></input>

				<label for="toggle" class="hamburger">
					<div class="top-bun"></div>
					<div class="meat"></div>
					<div class="bottom-bun"></div>
				</label>

				<div class="navigation__container">
					<nav class="navigation__content">
						<ul class="navigation__list">
							<li class="navigation__list__item"><a href="" class="navigation__link">О выставке</a></li>
							<li class="navigation__list__item"><a href="/templates/config/pages/participants.html" class="navigation__link" target="_blank">Участники</a></li>
							<li class="navigation__list__item"><a href="/templates/config/pages/all-exhibitions.html" class="navigation__link" target="_blank">Фотоотчёт</a></li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
	</header>

	<main class="main">
		<div class="main__navbar">
			<a href="/templates/config/index.html">Главная</a>
		</div>

		<section	class="main__portfolio">

			<div class="portfolio__container">
				<div class="portfolio__photos">
					<div class="photo photo-1">
					</div>
					<div class="photo photo-2">
					</div>
					<div class="photo photo-3">
					</div>
				</div>

				<div class="portfolio__description">
					<h1 class="portfolio__name">Мурзик</h1>
					<div class="description__breed description__item">
						<p class="portfolio__description__title">Порода</p>
						<p class="portfolio__description__text portfolio__description__breed">Балинезийская кошка</p>
					</div>

					<div class="description__color description__item">
						<p class="portfolio__description__title">Цвет</p>
						<p class="portfolio__description__text portfolio__description__color">Черный с белой грудкой</p>
					</div>

					<div class="description__age description__item">
						<p class="portfolio__description__title">Возраст</p>
						<p class="portfolio__description__text portfolio__description__age">2 года</p>
					</div>

					<div class="description__sex description__item">
						<p class="portfolio__description__title">Пол</p>
						<p class="portfolio__description__text portfolio__description__sex">Кобель</p>
					</div>

					<div class="description__temper description__item">
						<p class="portfolio__description__title">Характер</p>
						<p class="portfolio__description__text portfolio__description__temper">Независимый и самостоятельный котик. Он может быть спокойным и умиротворенным, оставаясь при этом независимым от посторонних.</p>
					</div>

					<div class="description__talent description__item">
						<p class="portfolio__description__title">Талант</p>
						<p class="portfolio__description__text portfolio__description__talent">Видный и солидный</p>
					</div>
					<button class="portfolio__button button" data-hystmodal="#myModal">Забрать питомца</button>
				</div>
			</div>
		</section>

		<div class="hystmodal" id="myModal" aria-hidden="true">
			<div class="hystmodal__wrap">
					<div class="hystmodal__window" role="dialog" aria-modal="true">
							<form action="#" class="hystmodal__form">
								<div class="form-group">
									<label for="name">Ваше имя</label>
									<input type="text" id="name" name="name" required>
								</div>
								<div class="form-group">
									<label for="phone">Телефон</label>
									<input type="tel" id="phone" name="phone" required>
								</div>
								<div class="form-group">
									<label for="email">Почта</label>
									<input type="email" id="phone" name="email" required>
								</div>
								<button type="submit" class="form__button button">Отправить заявку</button>
							</form>
					</div>
			</div>
		</div>
	</main>

		
{% endblock content %}