
.request{
	max-width: 1440px;
	margin: auto;
	background-color: #fff;
	padding: 90px 0 var(--container--margin-bottom);
	margin-bottom: 80px;
}

.request__container{
	display: grid;
	width: var(--container-small);
	margin: auto;
	grid-template-areas: 
	"title title"
	"form description"
	"form decor";
	justify-items: center;
	column-gap: clamp(50px, 7vw, 98px);
}

.request__title{
	grid-area: title;
	justify-self: start;
	font-size: var(--title-font-size);
	margin-bottom: 80px;
}

.request__form {
	justify-self: start;
	grid-area: form;
  display: flex;
	flex-direction: column;
	width: clamp(300px, 40vw, 522px);
	gap: clamp(10px, 1.5vw, 25px);
	margin-top: -9px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label{
	align-self: flex-start;
	transform: translate(20px, 50%);
	z-index: 1;
	background-color: #fff;
	padding: 0 4px;
	font-size: 16px;
}

.form-group input{
	height: clamp(45px, 6vw, 72px);	
	border-radius: 4px;
	font-size: 30px;
	padding: 0 20px;
}

.form-group input:user-invalid{
	outline: 2px solid rgb(245, 109, 109);
	border: 2px solid rgb(245, 109, 109);
}

.request__description{
	align-self: flex-start;
	grid-area: description;
	padding: 70px 40px;
	max-width: 330px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 6px 24px 4px rgba(85, 119, 98, 0.4);
	line-height: 28px;
}

.form__button{
	font-family: "Montserrat", sans-serif;
	font-size: clamp(25px, 2.5vw, 32px);
	height: clamp(50px, 6vw, 72px);	
	margin-top: 25px;
}

.request__decor{
	grid-area: decor;
	width: clamp(150px, 20vw, 285px);
	margin-top: 20px;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);

}

@media screen and (max-width:1030px) {
	.request__container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.request__title{
		align-self: start;
	}

	.request__form {
		width: clamp(300px, 65vw, 650px);
		gap: clamp(10px, 1.5vw, 25px);
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.request__description{
		align-self: center;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    line-height: 28px;
		width: clamp(300px, 65vw, 650px);
    max-width: 100%;
    padding: 0;
	}

	.request__decor{
		width: clamp(150px, 30vw, 285px);
		margin-top: 20px;
		align-self: self-end;
	}
}

@media screen and (max-width:900px) {
	.request{
		padding: 50px 0;
	}

	.request__title{
		margin-bottom: clamp(24px, 6vw, 72px);
	}
}

@media screen and (max-width:600px) {
	.request__form {
		width: var(--container-small);
		margin-bottom: clamp(24px, 8vw, 50px);
	}

	.request__description{
		width: var(--container-small);
		font-size: clamp(14px, 4vw, 20px);
		line-height: 130%;
	}

	.form-group label{
		font-size: clamp(12px, 3vw, 16px);
	}
}
